
.rectangle-div {
  position: absolute;
  top: calc(50% - 302.35px);
  left: calc(50% - 269px);
  border-radius: var(--br-7xl);
  background-color: var(--neutral-0);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 538px;
  height: 604.7px;
}
.login1 {
  position: absolute;
  top: 62.9px;
  left: 39.1px;
  font-size: var(--font-size-16xl);
  font-weight: 600;
}
.to-get-started {
  position: absolute;
  top: 110.1px;
  left: 39.1px;
  font-size: var(--font-size-6xl);
}
.group-child2 {
  position: absolute;
  top: 188.9px;
  left: 40.3px;
  box-shadow: var(--shadow);
  border-radius: var(--br-3xs);
  background-color: var(--neutral-0);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 454.8px;
  height: 66.1px;
}
.group-child3 {
  position: absolute;
  top: 276.8px;
  left: 40.3px;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-0);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 454.8px;
  height: 66.1px;
}
.group-child4 {
  position: absolute;
  top: 437.9px;
  left: 40.3px;
  box-shadow: var(--shadow);
  border-radius: var(--br-3xs);
  background-color: var(--color-crimson-200);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 454.8px;
  height: 66.1px;
}

.login2{
  position: absolute;
  background-color: var(--color-crimson-100);
  color: white;
  border-radius: 10px;
  width: 455px;
  height: 71px;
  top: -23px;
  left: -195px;
}

.username {
  position: absolute;
  top: 213.5px;
  left: 66.6px;
  color: var(--color-darkgray-200);
}
.senha {
  position: absolute;
  top: 301.4px;
  left: 66.6px;
  color: var(--color-darkgray-200);
}
.esqueceu-a-senha {
  position: absolute;
  top: 374.5px;
  left: 50.1px;
  color: var(--color-darkslategray-100);
}
.registre-se {
  font-weight: 600;
}
.novo-usurio-registre-se-container {
  position: absolute;
  top: 551px;
  left: 192px;
  color: var(--color-darkslategray-100);
  cursor: pointer;
}
.continue {
  position: absolute;
  top: 461.4px;
  left: 234.7px;
  color: var(--neutral-0);
}
.rectangle-group {
  position: absolute;
  top: calc(50% - 302px);
  left: calc(50% - 261px);
  width: 538px;
  height: 604.7px;
}
.sera1 {
  position: absolute;
  top: 0%;
  left: 123.72%;
  letter-spacing: -0.02em;
  line-height: 130%;
  display: none;
}
.c34d802e6acf6ab98a6-sera-1-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sera-group {
  position: absolute;
  height: 97.5%;
  width: 32.98%;
  top: 0%;
  right: 67.02%;
  bottom: 2.5%;
  left: 0%;
}
.navigationtype51 {
  width: 94.6px;
  position: relative;
  height: 32px;
}
.navigationtype5-container {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl-6);
}
.navigation11 { 
  color: black;
  cursor: pointer;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
}
.navigation10 {
  border-radius: var(--br-7xs);
  background-color: var(--neutral-0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
}
.fillsystemarrow-down-s-fill-icon2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.navigation14 {
  border-radius: var(--br-7xs);
  background-color: var(--neutral-0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs)
    var(--padding-base);
  gap: var(--gap-5xs);
}
.navigation-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  color: var(--neutral-600);
}
.button5 {
  position: relative;
  letter-spacing: -0.09px;
  line-height: 24px;
  font-weight: 500;
}
.button4 {
  border-radius: var(--br-7xs);
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
}
.button6 {
  border-radius: var(--br-7xs);
  background-color: var(--color-crimson-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
  color: var(--neutral-0);
}
.actions1 {
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.navigation9 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--neutral-0);
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.fillsystemarrow-down-s-fill-icon3 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.navigation16 {
  position: absolute;
  top: 28px;
  left: 858px;
  border-radius: var(--br-7xs);
  background-color: var(--neutral-0);
  width: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--neutral-600);
}
.formula-e1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 130%;
}
.formula-e-container {
  position: absolute;
  top: 22px;
  left: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0px;
  cursor: pointer;
  font-size: var(--font-size-5xl-6);
  color: var(--color-black);
}
.head-item {
  position: absolute;
  top: 32px;
  left: 79px;
  width: 32px;
  height: 32px;
}
.head1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 96px;
  font-size: var(--content-button-size);
  color: var(--neutral-900);
  font-family: var(--content-button);
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--neutral-0);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-plus-jakarta-sans);
}

a:link, a:visited {
  color: black;
	text-decoration: none
	}

  a:hover {
    text-decoration: none;
    }
  a:active {
    text-decoration: none
    }
    

.form-group {
  position: absolute;
  top: -25px;
  left: -25px;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-0);
  border: 2px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 454.8px;
  height: 66.1px;
}
  
  label {
      display: block;
      margin-bottom: 5px;
      
  }
  
  input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
  }
  
  